<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
            <a routerLink="/minhas_passagens" mat-list-item>
                <i class="material-icons">receipt</i>
                Minhas Compras
            </a>
            <a routerLink="/comprar_passagem" mat-list-item>
                <i class="material-icons">shopping_cart</i>
                Comprar Passagens
            </a>
            <a routerLink="/voos" *ngIf="service.haveAccess()" mat-list-item>
                <i class="material-icons">flight_takeoff</i>
                Voôs
            </a>
            <a (click)="logout()" mat-list-item class="logout">
                <i class="material-icons">logout</i>
                LogOut
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
