.home {
    width: 95%;
    margin: 1rem auto;
}

.lists {
 padding: 1em 1em 1em 0;
}

.acoes button {
   margin: 1em 1em 1em 0;
}

@media(max-width: 450px) {
    .home {
        width: 70%;
    }
}

@media(max-width: 770px) {
    .home {
        width: 90%;
    }
}