.home {
    width: 95%;
    margin: 1rem auto;
}

.mat-form-field {
    width: 43%;
    padding: 2em;
}

@media(max-width: 450px) {
    .home {
        width: 70%;
    }
}

@media(max-width: 770px) {
    .home {
        width: 90%;
    }
}