<mat-card class="home mat-elevation-z4">
    <form class="example-form">
        <mat-form-field class="autocompletes">
            <mat-label>Origem</mat-label>
            <input #input
                   type="text"
                   placeholder="Selecione o local de origem"
                   matInput
                   [formControl]="myControlOrigem"
                   [matAutocomplete]="auto"
                   (input)="filterOrigem()"
                   (focus)="filterOrigem()">
            <mat-autocomplete requireSelection #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOrigem" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="autocompletes">
            <mat-label>Destino</mat-label>
            <input #input2
                   type="text"
                   placeholder="Selecione o local de destino"
                   matInput
                   [formControl]="myControlDestino"
                   [matAutocomplete]="auto2"
                   (input)="filterDestino()"
                   (focus)="filterDestino()">
            <mat-autocomplete requireSelection #auto2="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsDestino" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button type="submit" (click)="pesquisarPassagens()" mat-raised-button color="primary">Procurar</button>
    </form>
</mat-card>
<mat-accordion multi class="example-headers-align"
               *ngIf="voos && voos.length > 0">
    <mat-expansion-panel class="home mat-elevation-z4"
                         *ngFor="let voo of voos">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div style="font-size: 2em">
                    <strong>{{voo.dataHoraMarcado | date: 'dd/MM/yyyy HH:mm'}}</strong>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                <div>
                    <div>
                        <mat-icon style="color: red; vertical-align: middle">
                            arrow_back
                        </mat-icon>
                        {{voo.aeroportoOrigem.nome}}
                    </div>
                    <div>
                        <mat-icon style="color: green; vertical-align: middle">
                            arrow_forward
                        </mat-icon>
                        {{voo.aeroportoDestino.nome}}
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-stepper linear #stepper>
            <mat-step [stepControl]="dadosFormGroup" label="Preencha seus dados">
                <app-preenchimento-dados [readable]="false" (preencheDados)="preencheDados($event)"
                                          [dadosFormGroup]="dadosFormGroup" ></app-preenchimento-dados>
            </mat-step>
            <mat-step [stepControl]="assentoFormGroup" label="Escolha seu assento">
                <app-preenchimento-assento [classes]="classes" (preencheAssento)="preencheAssento($event)"
                                           [assentoFormGroup]="assentoFormGroup"></app-preenchimento-assento>
            </mat-step>

            <mat-step label="Confirmação de compra">
                <div>
                    <app-preenchimento-dados [dadosFormGroup]="dadosFormGroup" [readable]="true"></app-preenchimento-dados>
                </div>

                <br>

                <div>
                    <mat-card>
                        <mat-list role="list">
                            <mat-list-item role="listitem">Classe: {{retornaClasse(assentoFormGroup.controls['assento'].value)}}</mat-list-item>
                            <mat-list-item role="listitem">Assento: {{retornaAssento(assentoFormGroup.controls['assento'].value)}}</mat-list-item>
                            <mat-list-item role="listitem">Valor: {{
                                (dadosFormGroup.controls['bagagens'].value > 1 ?
                                acrescentaDezPorcento(assentoFormGroup.controls['assento'].value)
                                : retornaValor(assentoFormGroup.controls['assento'].value)) | currency:'BRL'}}
                                {{dadosFormGroup.controls['bagagens'].value > 1 ? '*' : null}}
                            </mat-list-item>
                            <i *ngIf="dadosFormGroup.controls['bagagens'].value > 1">Acrescentado 10% no valor pelo despacho das bagagens</i>
                        </mat-list>
                    </mat-card>
                </div>

                <div style="display: flex; justify-content: space-between">
                    <div style="padding: 1em 1em 1em 0">
                        <button mat-raised-button color="primary" matStepperPrevious>Voltar</button>
                    </div>
                    <div style="padding: 1em 1em 1em 0">
                        <button mat-raised-button color="primary" matStepperNext
                                (click)="comprarPassagem(voo)">Realizar Compra</button>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-expansion-panel>
</mat-accordion>
